<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wefound">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeFound">
        <activity android:name=".Notification"></activity>
        <activity
            android:name=".SelectLocation"
            android:parentActivityName=".PostItem" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAUyYOtDzI_JAlSCgYgHyaycGoM9YL0e7w" />

        <activity
            android:name=".PostFoundItem"
            android:parentActivityName=".Found" />
        <activity
            android:name=".MessageViewActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MessageActivity"
            android:parentActivityName=".Lost" />
        <activity
            android:name=".ResetPassword"
            android:parentActivityName=".Login" />
        <activity
            android:name=".LostItemDetail"
            android:parentActivityName=".Lost" />
        <activity
            android:name=".PostItem"
            android:parentActivityName=".Lost" />
        <activity
            android:name=".Register"
            android:parentActivityName=".Login" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserInfoActivity" />
        <activity
            android:name=".Found"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Lost"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <service android:name=".FirebaseMessaging"
            android:enabled="true"
            android:exported="true">

            <intent-filter>


                <action android:name="com.google.firebase.MESSAGING_EVENT"/>


            </intent-filter>


        </service>
        <receiver android:name=".NotificationService" />
    </application>

</manifest>